<!doctype html>
<html>
<head>
<title>User SignUp</title>
</head>
<body>
    <div class="form-container">
        <p class="form-header">Create Your Account</p>
        <form method="POST">
            <label>First Name</label>
                <input type="text" name="firstname"><br>
            <label>Last Name</label>
                <input type="text" name="lastname"><br>
            <label>Username</label>
                <input type="text" name="username"><br>
            <label>Email</label>
                <input type="text" name="email"><br>
            <label>Password</label>
                <input type="text" name="password"><br>
            <input type ="submit" value="Register">
        </form>
    </div>
</body>
</html>