<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topical</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="icon" href="smallLogo.png" type="image/png">
    <script src="/angular/angular.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="border-bottom: 2px; border-color: black; border-bottom-width: 2px; border-bottom-style: solid;">
        <a class="navbar-brand" href="/">
            <img src="fullLogo.svg" width="100" height="30" class="align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/topics">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <head>
        <title>Topics</title>
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     </head>
     <body>
        <h1>Choose topics to view or follow:</h1>
        <div class = "btn-default">
           <button id="Science" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Science</button>
            <div class="dropdown-menu" aria-labelledby="Science">
                <a class="dropdown-item" href="/science">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Politics" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/politics">Politics</button>
            <div class="dropdown-menu" aria-labelledby="Politics">
                <a class="dropdown-item" href="/politics">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Technology" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology</button>
            <div class="dropdown-menu" aria-labelledby="Technology">
                <a class="dropdown-item" href="/technology">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Art" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Art</button>
            <div class="dropdown-menu" aria-labelledby="Art">
                <a class="dropdown-item" href="/art">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Food" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Food</button>
            <div class="dropdown-menu" aria-labelledby="Food">
                <a class="dropdown-item" href="/food">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Gaming" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gaming</button>
            <div class="dropdown-menu" aria-labelledby="Gaming">
                <a class="dropdown-item" href="/gaming">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Movies" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</button>
            <div class="dropdown-menu" aria-labelledby="Movies">
                <a class="dropdown-item" href="/movies">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Music" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Music</button>
            <div class="dropdown-menu" aria-labelledby="Music">
                <a class="dropdown-item" href="/music">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Comedy" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comedy</button>
            <div class="dropdown-menu" aria-labelledby="Comedy">
                <a class="dropdown-item" href="/comedy">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
           <button id="Sports" type = "button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sports</button>
            <div class="dropdown-menu" aria-labelledby="Sports">
                <a class="dropdown-item" href="/sports">View</a>
                <a class="dropdown-item" href="#">Follow</a>
            </div>
        </div>

        <!-- test branch -->
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>